{% extends 'pauli/layout.html' %}
{% load static %}

{% block title %}
K-pauli 
{% endblock %}

{% block body %}
<h3>Test history</h3>

<a class='btn btn-lg btn-dark' href="{% url 'index' %}">Back to homepage</a>
<hr>
<div class="list-group">
    {% for quiz in quizzes %}
        <a href="{% url 'result' quiz.id %}" class="list-group-item list-group-item-action">
            by: <strong>{{ quiz.user }}</strong> -- status: {{ quiz.status }} -- type: {{ quiz.large }}
            <small class='result-date'>date: <span class='date_submitted'>{{ quiz.timestamp }} UTC</span></small>
        </a>
    {% endfor %}
    </div>


{% endblock %}

{% block script %}
    <script src="{% static 'pauli/dateformat.js' %}"></script>
{% endblock %}