html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
body {
  background: #111;
  color: aliceblue;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  background: #333;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header h4 {
  position: relative;
  margin: 0 5px;
  padding-left: 10px;
}
header h4:hover {
  cursor: pointer;
}
.header-auth {
  display: flex;
  justify-content: space-around;
  min-width: 20%;
  padding-right: 10px;
}

main {
  height: 90%;
  width: 100%;
  padding-top: 1.7rem;
  flex: 1;
  background: #111;
  display: flex;
  flex-direction: row;
}

.main {
  margin: 1rem 2rem;
}

.book-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  gap: 30px;
}

.book-page .image {
  width: 320px;
  background: #222;
  object-fit: contain;
  height: 450px;
}

@media(min-width: 1200px)  {
  .book-detail {
  height: 90%;
  width: 100%;
  overflow-y: auto;
  }

  .book-page {
    flex-direction: row;
    justify-content: space-between;
  }
}

::-webkit-scrollbar {
  background: #444;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  width: 3px;
}

.rentbox, .alert-box {
  padding: 20px;
  position: fixed;
  z-index: 10;
  background: rgba(49, 49, 49, 0.97);
  width: 50%;
  height: 50%;
  left: 15%;
  top: 15%;
  box-shadow: 10px 10px 5px rgb(39, 39, 39, 0.5);
  border-radius: 10px;
}


.button-exit {
  float: right;
  margin: 0;
}

em {
  width: 100%;
  margin: auto;
  font-size: 12px;
}

button {
  background: none;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(117, 243, 170, 0.8);
  color: rgba(117, 243, 170, 0.8);
  margin: 0 5px;
}

button:active {
  background: red;
}
.btn-gray {
  background: #444;
  height: 1.8em;
}
button:disabled {
  opacity: 0.2;
}
button:hover:not(:disabled) {
  background: rgba(117, 243, 170, 0.8);
  color: #111;
  box-shadow: 2px 2px #555;
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(1px)
}

small {
  color: rgba(255, 255, 255, 0.4);
}

.rating {
  width: 100px;
}

progress:hover {
  cursor: pointer;
}

input:active {
  outline: none;
}

textarea {
  width: 90%;
  background: none;
  color: white;
  outline: none;
  border: none;
  height: auto;
}

.comments {
  margin-top: 50px;
}

.comment {
  border-bottom: 1px solid #333;
  clear: both;
}

.comment-reply {
  background: none;
  padding: 0;
  margin: 1em auto;
  box-shadow: none;
}

.comment-show-replies {
  width: auto;
  border: none;
}

.comment-options {
  float: right;
  padding-right: 30px;
  transform: translateY(-30px);
}

.comment-options button {
  border: none;
}

.comment-head small {
  margin: 0 50px;
  float: right;
}