html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
body {
  background: #111;
  color: aliceblue;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  width: 99%;
  background: #333;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header h4 {
  position: relative;
  margin: 0px 5px;
}
header h4:hover {
  cursor: pointer;
}
.header-auth {
  display: flex;
  justify-content: space-around;
  min-width: 20%;
}

main {
  height: 90%;
  width: 100%;
  padding-top: 1.7rem;
  flex: 1;
  background: #111;
  display: flex;
  flex-direction: row;
}

.sidebar {
  padding: 2rem 10px;
  background: #222;
  max-width: 200px;
}

footer {
  bottom: 0;
  width: 100%;
  background: #333;
}


.book-page {
  flex: 1;
  margin: 1rem 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.book-page .image {
  margin: 0 20px;
  width: 320px;
  height: 500px;
  background: #111;

}

.book-detail {
  height: 90%;
  width: 100%;
  overflow-y: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

li {
  list-style: none;
  margin: 3px 10px;
  box-shadow: 0px 1px #222;
  border-radius: 5px;
  transition: 0.3s;
  height: 1.3em;
  overflow-y: auto
}

li:hover, .book-selected {
  background: #666;
  cursor: pointer;
  transform: translateX(10px);
}

::-webkit-scrollbar {
  background: #444;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  width: 3px;
}

.rentbox, .alert-box {
  padding: 20px;
  position: fixed;
  z-index: 10;
  background: rgba(49, 49, 49, 0.97);
  width: 50%;
  height: 50%;
  left: 15%;
  top: 15%;
  box-shadow: 10px 10px 5px rgb(39, 39, 39, 0.5);
  border-radius: 10px;
}


.button-exit {
  float: right;
  margin: 0;
}

em {
  width: 100%;
  margin: auto;
  font-size: 12px;
}

button {
  background: none;
  border-radius: 10px;
  outline: none;
  border:none;
  color: white;
}
button:disabled {
  opacity: 0.1;
}
button:hover:not(:disabled) {
  background: rgba(68, 68, 68, 0.5);
  box-shadow: 2px 2px #555;
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(1px)
}