.book-detail {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 90%;
}

.book-option {
    margin: 15px;
}

.book-option button {
    margin-left: 15px;
    border: none;
    color: greenyellow;
    opacity: 0.6;
}

.book-option button:hover {
    opacity: 1;
    background: none;
}


.book-description {
    margin-top: 20px;
    font-size: small;
}

.comments {
    width: 90%;
}

.comment-input {
    width: 95%;
    padding: 5px;
}

form button {
    float: right;
    margin-right: 5%;
}

.hidden {
    display: none;
}


.comments form {
    margin-bottom: 20px;
}

.comment-list li {
    gap: 20px;
}

.comment-option {
    margin: 5px;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
}

.comment-option button {
    font-size: small;
    border: none;
    color: greenyellow;
    opacity: 0.6;
}

.comment-head {
    display: flex;
    gap: 15px;
}

.replies-form textarea {
    height: 1rem;
}

.box-layout {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(119, 119, 119, 0.6);
    display: flex;
    place-items: center;
    transition: 0.5s;
}

.box-layout div {
    z-index: 50;
    margin: auto;
    width: 60%;
    background-color: #222;
    border-radius: 10px;
    padding: 40px;
}

@media(max-width: 800px) {
    .book-detail {
        flex-direction: column;
        place-items: center;
        gap: 10px;
    }
}