a {
    color: white;
}

body {
    color: aliceblue;
    margin: 0;
    top: 0;
    height: 100vh;
    background: #111;
    font-family: 'Roboto', sans-serif;
}

.root {
    display: grid;
    grid-template-columns: minmax(150px, 250px) minmax(650px, auto);
    grid-template-rows: 50px auto;
    min-height: 100%;
}

.header {
    grid-column: 1/-1;
    background: #333;
}

.sidebar {
    grid-area: 2/1/3/2;
    background: #222;
    
}

main {
    grid-column: 2/3;
    grid-row: 2;
}

.image {
    width: 320px;
    background: #222;
    object-fit: contain;
    height: 450px;
  }