#body {
    background: white url("images/vector.png") fixed;
}

#test-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#index-info{
    text-align: center;
    max-width: 400px;
}

#timer {
    position: relative;
    float: right;
}

#test-option {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    justify-content: space-around;
}

#test-option div {
    margin: 60px;
    max-width: 40%;
}

#test-window {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    background-color: white;
}

#test-window div {
    margin-right: 15px;
}

.test-cols {
    display: none;
}

.num-input {
    width: 20px;
    height: 25px;
}

.num-box {
    margin: 0px;
    padding: 0px;
    height: 60px;
}

.num-box * {
    margin: 5px;
    padding: 0px;
}

.num-input {
    color: blue;
    margin-left: 20px;
    border: 1px solid rgba(126, 126, 126, 0.3);
    outline: none;
}

input[type=text]:focus {
    border: 2px solid rgb(179, 255, 0);
}

#result-info p {
    margin: 0px;
}

.result-date {
    float: right;
}

#small {
    display: none;
    transform: rotateZ(-90deg) rotateY(180deg);
    max-width: 400px;
    margin-bottom: -100px;
    margin-top: -100px;
}

#small .progress {
    min-height: 40px;
    margin: 20px;
}

#large {
    display: none;
    transform: rotateZ(-90deg) rotateY(180deg);
    max-width: 60vh;
    max-height: 80vw;
    overflow: auto;
}

#large .progress {
    max-height: 6px;
}

#large .progress .progress-bar {
    width: 2.0408163265306123%;
}

#small .progress .progress-bar {
    width: 25%
}

#finish-option a {
    margin: 10px;
}